
<div class="card w-75">
  <div class="card-body">
    <h5 class="card-title">Milestones</h5>
    <h6 class="card-subtitle mb-2 text-muted">An ECS Academy blog</h6>
    <p>{{> blogposts}}</p>
  </div>
</div>