body {
  background-image: linear-gradient(
      rgba(236, 236, 228, 0.13),
      rgba(242, 243, 241, 0.651)
    ),
    url('../towerbridge.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: #00B7FF;
}

.Title {
  padding-top: 50px;
  color: green;
  margin: auto; 
  width: 500px;
}

.blogblock {
  margin: auto;
  text-align: center;
  padding: 50px;
  opacity: .8;
}

.card-text{
  font-size:19px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;

}
